// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

// Import MapBox
// @import '~mapbox-gl/dist/mapbox-gl.css';
// @import '~leaflet/dist/leaflet.css';

//Import Leaflet
@import '~leaflet/dist/leaflet.css';


// ====== Variables =====

// colors
$color-white: #fff;
$color-blue: #184857;
$color-orange: #ff8800;
$color-text : #383838;


html{
    body {
        color: $color-text;
        font-size: 16px;
        line-height: 24px;
    }
}

//custom btn-primary
.btn-primary{
    background-color: $color-blue;
    border-color: $color-blue;
    color: $color-white;

    &:hover{
        background-color: $color-orange;
        border-color: $color-orange;
        color: $color-blue;
    }
    &:focus{
        background-color: $color-orange;
        border-color: $color-orange;
        color: $color-blue;
    }
}

// custom nav pills
.nav-pills {
    .nav-link{
        color: $color-blue;   
    }
    .nav-link.active{
        background-color: $color-orange;
        color:$color-blue;
}

}
